---
layout: default
---
<ul class="posts-list">  
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <h2><center> 
      All post of a {{ post | first }} category {{ post | last | size }}
    </center></h2> 
    <li>
        <time>
          {{ post.date | date:"%F" }} {{ post.date | date: "%a" }}.
        </time>
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
  {% endfor %}
</ul>
